html, body {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "proxima-nova", Arial, sans-serif;
  color: #fff;
  background-color: #0C7796;
  overflow: auto;
  background-image: url('../images/mm-background.png');
  background-size: auto 100%;
  font-size:14px;
  letter-spacing:.5px;
  line-height:1.3em;
}

p {
    max-width: 95%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 35px;
    line-height: 1.3em;
}

strong, b {
  font-weight:600;
}

.music-mind-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.music-mind-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: auto;
}

.music-mind-body {
    position: relative;
    padding-top: 35px;
    width: 100%;
}

.music-mind-body a, p, h3, h4 {
  text-align: center;
}

h4 {
   font-weight:600;
   font-size:1.3rem;
}

h4.which-one {
	padding:30px 0 25px;
	font-weight:300;
}

.music-mind-page-current, .no-js .music-mind-page {
  visibility: visible;
  z-index: 1;
}

.music-mind-page-current p { 
	max-width:70%;
}

.no-js body {
  overflow: auto;
}

.music-mind-page-ontop {
  z-index: 999;
}

#tie-breaker-template p {
	max-width:95%;
}

#tie-breaker .control {
	font-size:15px;
}

.flickity-viewport {
	height:300px !important;
}

/* Text Styles, Colors, Backgrounds */

.music-mind-page h1 {
    position: relative;
    font-weight: 300 !important;
    font-size: 3em;
    line-height: 1.3em;
    letter-spacing: 0.1rem;
    margin: 0;
    padding-top: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.music-mind-page h1 span {
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 35px;
}

.music-mind-page h1 span.pazu-title {
    font-size: .5em;
    letter-spacing: 15px;
}

.music-mind-page h1 strong {
  color: #fff;
}

.question-number {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    border-bottom: 1px solid #EE5F44;
    padding-bottom: 50px;
}

/*** DISABLED BG COLORS ***

.music-mind-page-1 {
  background: #225D75;
}

.music-mind-page-2 {
  background: #7bb7fa;
}

.music-mind-page-3 {
  background: #60d7a9;
}

.music-mind-page-4 {
  background: #fdc162;
}

.music-mind-page-5 {
  background: #fd6a62;
}

.music-mind-page-6 {
  background: #f68dbb;
}

*** ***/

.button-container {
    height: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 40px 0;
}

.strengths-container {
  height: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#strengths-list {
    padding-bottom: 25px;
}

.email-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.email-form input {
    height: 35px;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 15px 7px;
    margin: 5px 0;
}

.email-form label {
  color: #aaa;
  font-size: 1.2rem;
}

.email-form-input {
  margin: 18px 26px;
}

.email-button {
  width: 200px;
  padding: 10;
}

.email-button {
    width: 100%;
    margin: 15px 0;
    background-color: #FF5343;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    height: 80;
    font-family: proxima-nova,sans-serif;
    text-align: center;
	transition:.125s;
	color:#fff;
}

#no-button.email-button {
	background-color:#f47064;
}

.email-button:hover, #no-button.email-button:hover {
	background-color:#333;
	color:#efefef;
	transition:.125s;
	border-radius:50px;
}

.email-button strong {
  text-transform: uppercase;
  font-size: 2em;
  display: block;
}

.yesno {
	margin:0 26px;
}

.response {
  color: #ff0000;
  margin:0 26px;
}

div.music-mind-result {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  text-align: center
}

h3.music-mind-result {
  text-transform: uppercase;
}

.quiz-button {
    height: 26px;
    width: 100px;
    margin-left: 14px;
    position: relative;
    font-size: 16px;
    color: #EE5F44;
    font-family: "proxima-nova", arial,sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: rgba(9,9,9,0);
    cursor: pointer;
}

.quiz-button:hover {
	color:#FF5343;
}

button:disabled, button:disabled:hover {
	color: #1B4D62;
	cursor:default;
}

.music-mind-button, .music-mind-page-button {
    position: relative;
    border: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    padding: 5px 40px;
    line-height: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
    background: #fff;
    color: #444;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
    border-radius: 50px;
	transition:.08s;
	z-index:1;
}

.music-mind-button:hover, .music-mind-page-button:hover {
    background: #EE5F44;
    color: #fff;
    transition:.1s;
}

.music-mind-button:active, .music-mind-page-button:active {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.page-1-btm {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    top: 690px;
}

.blue-bar {
    background-color: #122832;
    margin-top: -31px !important;
    opacity: .5;
    z-index: 0;
    border-top: 2px solid #EE5F44;
    position: relative;
    bottom: 0;
    height: 100%;
    min-height:100px;
}

/*
@media screen and (max-width: 47.4375em) {
  .music-mind-page h1 {
    font-size: 3em;
  }
*/
  .quiz-question p {
    font-size: 1em;
  }


/* --------------- Quiz Styles ---------------  */

.quiz-question {
  width: 100% !important;;
  height: 200px;
  text-align: center;
}

#quiz-question-template {
	width:100% !important;
	margin:0 auto;
}

#question-number {
    color: #EE5F44;
    font-size: 1.7rem;
}

.quiz-question p {
  font-size: 2.5em;
  letter-spacing:1px;
  padding-top:50px;
}

#tie-breaker-template.quiz-question p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress-bar {
    height: 25px;
    width: 65%;
    margin: auto;
    border: 1px solid #EE5F44;
    max-width: 650px;
    border-radius: 25px;
    margin-top:75px;
}

.progress-bar-fill {
    height: 25px;
    width: 0;
    background: #EE5F44;
    border-radius: 25px 0 0 25px;
}

.results-panel {
  margin: 0;
  padding: 0;
  text-align: center;
}

.results-panel li {
    display: inline-block;
	width: 144px;
    height: 144px;
    border: none;
    margin: 0 65px;
}

.pathway {
	display:inline-block;
}

.music-mind-page-4 .results-panel li {
	margin:0;
}

.music-mind-page-4 h4 {
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pathway-title {
    padding-top: 24px;
    font-size: 1.5em;
}

.pathway-ear {
	color:#F4C46B;
}

.pathway-eye {
	color:#25AAE1;
}

.pathway-create {
	color:#EE5F44;
}

.your-results {
    background-color: #21566d;
    z-index: 0;
    padding: 25px 0;
    font-size: .5em;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.your-results2 {
	z-index:2;
}

.results-end {
    display: inline-block;
}

.results-wrap {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* --------------- Animation Styles --------------- */

.moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

.moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}

.moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

.moveToTopEasing {
	-webkit-animation: moveToTop .7s ease-in-out both;
	animation: moveToTop .7s ease-in-out both;
}
.moveToBottomEasing {
	-webkit-animation: moveToBottom .7s ease-in-out both;
	animation: moveToBottom .7s ease-in-out both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.delay100 {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
.delay180 {
	-webkit-animation-delay: .180s;
	animation-delay: .180s;
}
.delay200 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}
.delay300 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
.delay400 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.delay500 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.delay700 {
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}
.delay1000 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

/* Radio Button Styles */

.answer-section {
    /* display: inline-block; */
    width: 486px;
    height: 100px;
    margin: 0 auto;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.control {
	font-size: 15px;
	position: relative;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
	font-weight:100;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control_indicator {
	position: absolute;
	top: 0px;
	width: 25px;
	height: 25px;
	background: none;
	border:1px solid #EE5F44;
}

.control_indicator.control-one, .control_indicator.control-seven {
	left:-10px;
}

.control_indicator.control-two {
	left:-12px;
}
	
.control_indicator.control-six {
	left:0;
}

.control_indicator.control-five {
	left:0;
}

.control_indicator.control-three {
	left:-4px;
}

.control_indicator.control-four {
	left:0;
}

.control-radio .control_indicator {
	border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #225D75;
	transition:.0s;
}

.control:hover input ~ .control_indicator.ci-eye,
.control input:focus ~ .control_indicator.ci-eye,
.control:hover input ~ .control_indicator.ci-ear,
.control input:focus ~ .control_indicator.ci-ear,
.control:hover input ~ .control_indicator.ci-create,
.control input:focus ~ .control_indicator.ci-create, {
	background: #225D75;
	opacity:.5;
	}

/* Checked state */
.control input:checked ~ .control_indicator {
	background: #EE5F44;
	transition:.0s;
}
 
/* Radio button inner circle */
.control-radio .control_indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* New radio buttons */

.answer-one, .answer-two, .answer-three, .answer-four, .answer-five, .answer-six, .answer-seven {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0 5px;
    margin: 0 auto;
}

.answer-four {
	width: 25px;
	padding:0 10px;
}

.answer-three, .answer-five {
	width: 33.33333334px;
	padding:0 10px;
}

.answer-two, .answer-six {
	width: 41.66666667px;
	padding:0 10px;
}

.answer-one, .answer-seven {
	width:70px;
	padding: 0 10px;
}

.radio-caption {
	display:block;
	text-align:center;
	margin-top:40px;
}

.radio-caption-two, .radio-caption-three, .radio-caption-five, .radio-caption-six {
	display:none;
}

.radio-caption-four {
	margin-left:-8px;
}

.control-one, .control-seven {
	width: 50px;
	height: 50px;
}

.control-two, .control-six {
	width: 41.66666667px;
	height:41.66666667px;
	margin-top: 4.16666667px;
}

.control-three, .control-five {
	width: 33.33333334px;
	height: 33.33333334px;
	margin-top:8.33333334px;
}

.control-four {
	margin-top: 12.5px;
}

/* Q10 Radio Buttons */

.tb-answer-one, .tb-answer-two, .tb-answer-three {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0 5px;
    margin: 0 auto;
    width:150px;
}

.radio-caption-tb-one, .radio-caption-tb-two, .radio-caption-tb-three {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0;
    padding-top: 75px;
}

.answer-section.tie-breaker {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.control_indicator.ci-eye, .control_indicator.ci-ear, .control_indicator.ci-create {
    position: absolute;
    top: 0px;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    border:none;
    left:-25px;
}

.control_indicator.ci-eye {
    background-image: url('../images/mm-eye.png');
}

.control_indicator.ci-ear {
    background-image: url('../images/mm-ear.png');
}

.control_indicator.ci-create {
    background-image: url('../images/mm-creative.png');
}

/* Icons */

li.ear {
	background-image: url('../images/mm-ear.png');
}

li.eye {
	background-image: url('../images/mm-eye.png');
}

li.create {
	background-image: url('../images/mm-creative.png');
}


/* Results */

.results-bar {
    background-color: #000;
    padding: 15px 0 30px;
}

.music-mind-page-4 h1, .music-mind-page-4 h1 span {
	display:inline-block;
}

.your-results .music-mind-page h1 {
    font-size: 3.5em;
    line-height: 0.3em;
    padding: 40px 0;
}

/* Final CTA */
#final-cta .email-form {
	background-color:transparent;
}

/* Responsive Queries */

/*
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5)
*/

@media only screen and (max-width: 950px) {

	.music-mind-page-current p {
    	max-width: 90%;
	}
	
    .music-mind-container {
    	width: 100%;
	    margin: 0 auto;
	}
	
	.music-mind-page h1 {
		font-size:1em;
		padding-top:30px;
	}
	
	.music-mind-page h1 {
		font-size:2em;
	}
		
	.music-mind-body {
    	padding-top: 10px;
    	max-width:95%;
    	margin:0 auto;
    }
	
	p {
		font-size: 1.5rem;
	}
	
	.quiz-question p {
		font-size: 2.25rem;
	}
	
	.question-number {
    	padding-bottom: 15px;
	}
	
	#question-number {
	    font-size: 1rem;
	}
	
	h4 {
    	font-size: 1rem;
	}
	
	.music-mind-button, .music-mind-page-button {
        font-size: 1em;
 	   padding: 0 20px;
	}
	
	.flickity-viewport {
	    height: 375px !important;
	}
	
	.control {
		display:block;
	    font-size: 19px;
	    padding-left: 35px;
	}
	
	.answer-section {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
	}
	
	.music-mind-body p {
    	font-size: 1.5em;
    	padding: 5px 0 0 0;
	}
	
	.music-mind-page-1 > .music-mind-body p {
    font-size: 1em;
    padding: 20px 0 30px 0;
	}
	
	.results-panel li {
   	 	display: inline-block;
    	width: 80px;
    	height: 75px;
    	border: none;
    	margin: 0 2px;
    	background-size: 80px;
    }
    
    .radio-caption-tb-one, .radio-caption-tb-two, .radio-caption-tb-three {
    	padding-top:10px;
    }
    
    .tb-answer-one, .tb-answer-two, .tb-answer-three {
    	display: block;
    	text-align: left;
    }
    
    .music-mind-page h1 span {
    	padding-bottom:0;
    	font-size:.75em;
    }
    
    .page-1-btm {
    	top: 510px;
	}
	
	.pathway-title {
    padding-top: 16px;
    font-size: 1.25em;
	}
	
	.control-one, .control-two, .control-three, .control-four, .control-five, .control-six, .control-seven {
		width: 25px;
		height: 25px;
		margin-top: 0;
	}
	
	.answer-one, .answer-two, .answer-three, .answer-four, .answer-five, .answer-six, .answer-seven {
		display:block;
		width:100%;
		text-align: left;
	}
	
	.radio-caption {
		margin:0;
		text-align: left;
	}
	
	.radio-caption-two, .radio-caption-three, .radio-caption-five, .radio-caption-six {
		display:block;
	}
	
	.radio-caption-one, .radio-caption-two, .radio-caption-three, .radio-caption-four, .radio-caption-five, .radio-caption-six, .radio-caption-seven {
		padding-top:5px;
	}
	
	.control_indicator.control-one, .control_indicator.control-seven {
		left:0;
	}

	.control_indicator.control-two {
		left:0;
	}
	
	.control_indicator.control-six {
		left:0;
	}

	.control_indicator.control-five {
		left:0;
	}

	.control_indicator.control-three {
		left:0;
	}

	.control_indicator.control-four {
		left:0;
	}
	
	.progress-bar {
		margin-top:0;
	}
	
	.button-container {
		padding: 5px 0;
	}
	
	.tb-answer-one, .tb-answer-two, .tb-answer-three {
		margin: 0 35px;
		width:80%;
	}
	
	.radio-caption-tb-one, .radio-caption-tb-two, .radio-caption-tb-three {
		font-size: 14px;
		padding-left: 25px;
	}
	
	.answer-section.tie-breaker {
		padding-top:0;
		max-width:100%
	}

}




/* FONTS */
/*
@font-face {
    font-family: 'ProximaNovaBlRegular';
    src: url('../fonts/proximanova-black-webfont.eot');
    src: url('../fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black-webfont.woff') format('woff'),
         url('../fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-black-webfont.svg#ProximaNovaBlRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.typekit-badge {
	display:none !important;
}


@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNovaRgBoldItalic';
    src: url('../fonts/proximanova-boldit-webfont.eot');
    src: url('../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('../fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-boldit-webfont.svg#ProximaNovaRgBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNovaXBold';
    src: url('../fonts/proximanova-extrabold-webfont.eot');
    src: url('../fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-extrabold-webfont.svg#ProximaNovaThBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#ProximaNovaLtBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
