html, body {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Proxima Nova, Arial, sans-serif;
  color: #fff;
  background-color: #225D75;
  overflow: auto;
}

p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 65px;
}

strong, b {
  font-weight:600;
}

.music-mind-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.music-mind-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: auto;
}

.music-mind-body {
    position: relative;
    padding-top: 5%;
    width: 100%;
}

.music-mind-body a, p, h3, h4 {
  text-align: center;
}

h4 {
   font-weight:600;
   font-size:1.3rem;
}

.music-mind-page-current, .no-js .music-mind-page {
  visibility: visible;
  z-index: 1;
}

.no-js body {
  overflow: auto;
}

.music-mind-page-ontop {
  z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.music-mind-page h1 {
    position: relative;
    font-weight: 300 !important;
    font-size: 3em;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin: 0;
    padding-top: 75px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.music-mind-page h1 span {
    font-family: serif;
    font-weight: 400;
    font-size: 40%;
    text-transform: none;
    word-spacing: 0;
    letter-spacing: 0;
    display: block;
    opacity: 0.4;
    padding-bottom: 45px;
}

.music-mind-page h1 strong {
  color: #fff;
  
}

/*** DISABLED BG COLORS ***

.music-mind-page-1 {
  background: #225D75;
}

.music-mind-page-2 {
  background: #7bb7fa;
}

.music-mind-page-3 {
  background: #60d7a9;
}

.music-mind-page-4 {
  background: #fdc162;
}

.music-mind-page-5 {
  background: #fd6a62;
}

.music-mind-page-6 {
  background: #f68dbb;
}

*** ***/

.button-container {
    height: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 40px 0;
}

.strengths-container {
  height: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.email-form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}

.email-form input {
  height: 35px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.email-form label {
  color: #aaa;
  font-size: 1.2rem;
}

.email-form-input {
  margin: 18px 26px;
}

.email-button {
  width: 200px;
  padding: 10;
}

.email-button {
    width: 196px;
    padding: 10;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    height:115px;
}

.email-button:hover {
	background-color:#434343;
	color:#efefef;
}

.email-button strong {
  text-transform: uppercase;
  font-size: 2em;
  display: block;
}

.yesno {
	margin:0 26px;
}

.response {
  color: #ff0000;
  margin:0 26px;
}

div.music-mind-result {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  text-align: center
}

h3.music-mind-result {
  text-transform: uppercase;
}

.quiz-button {
    height: 26px;
    width: 100px;
    margin-left: 14px;
    position: relative;
    font-size: 16px;
    color: #D34335;
    font-family: proxima nova, arial,sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: rgba(9,9,9,0);
    cursor: pointer;
}

.quiz-button:hover {
	color:#FF5343;
}

button:disabled, button:disabled:hover {
	color: #1B4D62;
	cursor:default;
}

.music-mind-button, .music-mind-page-button {
    position: relative;
    border: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    padding: 5px 40px;
    line-height: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
    background: #fff;
    color: #444;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
    border-radius: 50px;
	transition:.08s;
}

.music-mind-button:hover, .music-mind-page-button:hover {
    background: #333;
    color: #fff;
    transition:.1s;
}

.music-mind-button:active, .music-mind-page-button:active {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 47.4375em) {
  .music-mind-page h1 {
    font-size: 3em;
  }

  .quiz-question p {
    font-size: 1em;
  }
}

/* --------------- Quiz Styles ---------------  */

.quiz-question {
  width: 100%;
  height: 200px;
  text-align: center;
}

#question-number {
    color: #D34335;
    font-size: 1.5rem;
}

.quiz-question p {
  font-size: 2em;
  letter-spacing:1px;
}

.progress-bar {
    height: 25px;
    width: 65%;
    margin: auto;
    border: 1px solid #D34335;
    max-width: 650px;
    border-radius: 25px;
}

.progress-bar-fill {
    height: 25px;
    width: 0;
    background: #D34335;
    border-radius: 25px 0 0 25px;
}

.results-panel {
  margin: 0;
  padding: 0;
  text-align: center;
}

.results-panel li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

/* --------------- Animation Styles --------------- */

.moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

.moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}

.moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

.moveToTopEasing {
	-webkit-animation: moveToTop .7s ease-in-out both;
	animation: moveToTop .7s ease-in-out both;
}
.moveToBottomEasing {
	-webkit-animation: moveToBottom .7s ease-in-out both;
	animation: moveToBottom .7s ease-in-out both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.delay100 {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
.delay180 {
	-webkit-animation-delay: .180s;
	animation-delay: .180s;
}
.delay200 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}
.delay300 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
.delay400 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.delay500 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.delay700 {
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}
.delay1000 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

/* Radio Button Styles */

.answer-section {
	display: inline-block;
	width: ;
	height: 210px;
/*	margin: 10px;
	padding: 30px;
*/	text-align: left;
	vertical-align: top;
	background-color: #225D75;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	font-size:18px;
}

.control {
	font-size: 18px;
	position: relative;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control_indicator {
	position: absolute;
	top: 0px;
	left: 0;
	width: 25px;
	height: 25px;
	background: #225D75;
	border:1px solid #D34335;
}

.control-radio .control_indicator {
	border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #D34335;
	transition:.0s;
}

/* Checked state */
.control input:checked ~ .control_indicator {
	background: #fff;
	transition:.0s;
	width:15px;
	height:15px;
	border:6px solid #D34335;
}
 
/* Radio button inner circle */
.control-radio .control_indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}
